#top-nav{
	height:60px;
	width:100%;
	background-color:#f1f1f1;
	position:absolute;
	top:0;
	left:0;
	border-bottom:1px solid #e5e5e5;

}

#top-nav ul li{
	display:inline-block;
	margin-bottom:10px;
	vertical-align: middle;
}

#logo img{
	height:40px;
	width:99px;
	margin-bottom:20px;
	margin-left:-25px;
}

input[name="search"]{
	width:550px;
	height:30px;
	font-size:15px;
	margin-bottom:10px;
	margin-right:-5px;
}

#searchsubmit{
	margin-left:0px;
}

input[type="submit"]{
	background:url("search.png");
	border:none;
	font-size:0;
	height:30px;
	width:60px;
	padding-right:10px;
	padding-top:14px;
}

#icon{
	position:absolute;
	right:120;
	top:25;
}

input[name="Sign in"]{
	padding-left:12px;
	padding-right:12px;
	padding-top:8px;
	padding-bottom:8px;
	border-radius:2px;
	color:white;
	background-color:#4487fc;
	border:none;
	font-weight:bold;
	font-size:13px;
	position:absolute;
	right:40;
	top:18;
}

#categories{
	margin-top:80px;
	margin-left:75px;
}

#settings-icon{
	position:absolute;
	top:70;
	right:40;
}

#categories a{
	text-decoration:none;
	color:#777777;
}

#categories a:hover{
	color:black;
}

#categories ul li{
	display:inline;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	
}

#search-tools a:hover{
	background-color:#f7f7f7;
	padding-right:7px;
	padding-left:7px;
	padding-top:7px;
	padding-bottom:7px;
	font-size:13px;
	color:#777777;
	border:1px solid #c6c6c6;
	border-radius:2px;
}

hr{
	position:absolute;
	width:100%;
	left:0;
	top:110;
}

#no-of-results{
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	color:#777777;
	padding-top:25px;
	padding-left:125px;
}

#results-container{
	width:500px;
	height:870px;
	margin-left:126px;
	margin-top:20px;
}

.results-block{
	margin-bottom:20px;
	font-family:Arial, Helvetica, sans-serif;
}

.results-title{
	color:#1a0dab;
	font-size:18px;
}

.results-url{
	color:#006621;
	font-size:14px;
}

.results-date{
	color:#808080;
	font-size:small;
}

.results-description{
	color:#545454;
	font-size:small;
}

#ad-block{
	width:500px;
	height:80px;
	margin-left:126px;
	padding-top:10px;
	border-top:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
}


.ad-flag{
	font-size:12px;
	background-color:#efc439;
	color:#fff;
	padding-left:2px;
	padding-right:2px;
	border-radius:1px;
	margin-right:5px;
}

#related-searches{
	margin-left:126px;
	width:500px;
	height:135px;
	border-bottom:1px solid #f1f1f1;
}

#related-searches ul{
	list-style-type: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

#related-searches ul li{
	padding-bottom:8px;
}


#related-searches a{
	color:#1a0dab;
	text-decoration:none;
}

#related-searches a:hover{
	text-decoration:underline;
}

#related-searches-title{
	color:#808080;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:15px;
	margin-left:10px;
}

#google-container{
	width:500px;
	height:100px;
	margin-left:126px;
	text-align:center;
	padding-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	position:relative;
}

#google-container ul{
	position:absolute;
	bottom:28;
	left:93px;
}

#google-container ul li{
	display:inline;
	padding-right:10px;
}

#google-container a{
	text-decoration:none;
}

#google-container a:hover{
	text-decoration:underline;
}

#footer{
	font-size:small;
	font-family: Arial, sans-serif;
	position:absolute;
	color:#ababab;
	left:0;
	margin-top:5px;
	width:100%;
	height:90px;
	background-color:#f1f1f1;
	border-top:1px solid #e5e5e5;
	padding-top:25px;
	padding-left:126px;
}

#footer a{
	text-decoration: none;
	color:#777777;
}

#footer a:hover{
	color:black;
}

#footer ul{
	margin-left:-40px;
}

#footer ul li{
	display:inline;
	margin-right:30px;
	color:#777777;
}
